<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
  <ion-searchbar (ionChange)="handleInput($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shopping List</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [classList]="isMobile() ? 'main-mobile' : 'main-desktop'" [fullscreen]="true">
    <div class="grid-align" *ngIf="!showSearchList">
      <div class="spacer"></div>
      <div [ngClass]="['item-grid', isMobile() ? 'grid-mobile' : 'grid-desktop']">
        <app-item class="card-item" *ngFor="let item of getItems()" [item]="item"></app-item>
      </div>
      <div class="spacer"></div>
    </div>
    <app-add-item-menu *ngIf="showSearchList"></app-add-item-menu>
  </ion-content>
</ion-content>

